@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	min-height: 100vh;
	width: 100%;
}
.sidebar{
	position: fixed;
	height: 100%;
    width: 250px;
    background: #8A9A5B;
}

.sidebar .logo-details{
	height: 80px;
	width: 100%;
}

.sidebar .logo-details i{
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	min-width: 60px;
	display: flex;
	align-items: center;
	text-align: center;
}

.sidebar .logo-details .logo-name{
	font-size: 24px;
	font-weight: 500;
	color: #fff;
}

.sidebar .nav-links {
	margin-top: 16px;
}

.sidebar .nav-links li{
	height: 50px;
	width: 100%;
}

.sidebar .nav-links li a{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
	background: #228C22;
}

.sidebar .nav-links li a i{
	/*background: red;*/
	min-width: 60px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.sidebar .nav-links li a .link_name{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
}

.home-section{
	background: #f5f5f5;
	position: relative;
	min-height: 100vh;
	width: calc(100% - 250px);
	left: 240px;
}

.home-section nav{
	position: fixed;
	width: calc(100% - 250px);
	left: 250px;
	height: 80px;
	background: #fff;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-section nav .sidebar-button{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

.home-section nav .sidebar-button i{
	font-size: 35px;
	margin-right: 10px;
}

.home-section nav .search-box{
	height: 50px;
	width: 550px;
	margin: 0 20px;
	position: relative;
}

nav .search-box input{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 6px;
	padding: 0 15px;
	font-size: 17px;
	background: #F5F6FA;
	border: 2px solid #EFEEf1;
	outline: none;
}

nav .search-box .bx-search{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	background: #8A9A5B;
	border-radius: 6px;
	color: #fff;
	font-size: 22px;
	line-height: 40px;
	text-align: center;
}

.home-section nav .profile-details{
	display: flex;
	align-items: center;
	height: 50px;
	min-width: 190px;
	background: #F5F6FA;
	border: 2px solid #EFEEF1;
	border-radius: 6px;
	padding: 0 15px 0 2px;
}

nav .profile-details img{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 6px;
}

nav .profile-details .user-name{
	font-size: 15px;
	font-weight: 500;
	color: #333;
	margin: 0 10px;
	white-space: nowrap;
}

nav .profile-details i{
	color: #333;
	font-size: 25px;
}

.home-section .home-content{
	position: relative;
	padding-top: 100px;
}

.home-content .overview-boxes{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 20px;
	flex-wrap: wrap;
}

.home-content .overview-boxes .box{
	width: calc(100% / 4 - 15px);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 14px;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .overview-boxes .box-topic{
	font-size: 20px;
	font-weight: 500;
}

.home-content .overview-boxes .number{
	font-size: 35px;
	font-weight: 500;
	margin-top: -5px;
	display: inline-block;
}

.overview-boxes .box .booked{
	font-size: 32px;
	font-weight: 500;
	height: 50px;
	width: 50px;
	background: #aed581;
	color: #33691e;
	line-height: 50px;
	text-align: center;
	border-radius: 12px;
}

@media(max-width: 1216px){
	 .sidebar{
	 	width: 60px;
	 }
	 .home-section{
	 	width: calc(100% - 60px);
	 	left: 60px;
	 }
	 .home-section nav{
	 	width: calc(100% - 60px);
	 	left: 60px;
	 }
}

@media(max-width: 1018px){
	.home-content .overview-boxes .box{
		width: calc(100% / 2 - 15px);
		margin-bottom: 15px;
	}
}